body {
  background-color: #236dbe;
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a,
a:hover,
a:active {
  color: white;
}
button,
#download-button {
  background-color: white;
  color: #236dbe;
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
button:hover:not(:disabled),
#download-button:hover:not(:disabled) {
  background-color: #f2f2f2;
  cursor: pointer;
}
button:active,
#download-button:active {
  background-color: #e6e6e6;
}
button[disabled],
button[disabled]:hover,
#download-button[disabled],
#download-button[disabled]:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: transparent;
  border: 1px solid white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#midi-dropzone {
  position: absolute;
  width: 100%;
  height: 100vh;
}
#flip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  padding: 0px;
  pointer-events: none;
}
#flip button,
#flip p,
#flip h1,
#flip a,
#flip span,
#flip select,
#flip input,
#flip label,
#flip span {
  pointer-events: all;
}
#flip h1 {
  margin-top: 0px;
}
#flip #upload {
  border: 2px dashed;
  padding: 60px 10px;
  overflow: hidden;
}
#flip #upload .fa-file {
  font-size: 92px;
}
#flip #message {
  width: 100%;
  margin-top: 10px;
  border: 2px solid;
  padding: 10px;
  display: none;
  font-size: 12px;
}
#flip #message.warning {
  border-color: white;
  color: white;
}
#flip #message.error {
  background-color: darkred;
  color: white;
  border: none;
}
#flip #play-deck {
  margin: 0 auto;
  display: inline-block;
}
#flip #flip-button,
#flip #stop-button,
#flip #flip-another,
#flip #download-button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
}
#flip #flip-button i,
#flip #stop-button i,
#flip #flip-another i,
#flip #download-button i {
  font-weight: bold;
}
#flip #flip-button,
#flip #stop-button,
#flip #flip-another {
  float: left;
}
#flip #stop-button,
#flip #flip-another {
  display: none;
}
#flip #flip-button {
  width: 80px;
  height: 80px;
}
#flip #flip-button .fa-play {
  margin-left: 5px;
}
#flip #options {
  width: 100%;
  display: none;
  margin-top: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
#flip #options b {
  margin-bottom: 5px;
  display: block;
}
#flip #options #instrument-select {
  text-align: left;
}
#flip #options #instrument-select p {
  margin: 0px;
}
#flip #options label {
  font-weight: normal;
}
#flip #octave-change {
  outline: none;
  border: none;
  padding: 7px;
  width: 50px;
  margin: 0 5px;
}
#flip #mobile-piano-warning {
  display: none;
  font-size: 9px;
}
#flip #download-button {
  display: none;
}
#browse {
  border: 2px solid white;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
}
#browse:not(.disabled):hover {
  background-color: white;
  color: #236dbe;
}
#octave-change {
  width: 100%;
  margin: 10px 0;
}
#credit {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 12px;
}
#credit a {
  font-weight: bold;
}
#credit a:focus {
  color: white;
}
/* Device specific */
@media screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
  .col-xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
}
@media screen and (max-height: 480px) {
  #upload {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  #flip {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    width: 100%;
    padding: 20px;
  }
  #credit {
    position: relative;
    bottom: initial;
    left: initial;
    transform: none;
  }
}