body {
  background-color: #236dbe;
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a,
a:hover,
a:active {
  color: white;
}
button {
  background-color: white;
  color: #236dbe;
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
button:hover {
  background-color: #f2f2f2;
}
button:active {
  background-color: #e6e6e6;
}
button[disabled],
button[disabled]:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#midi-dropzone {
  position: absolute;
  width: 100%;
  height: 100vh;
}
#flip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  padding: 0px;
  pointer-events: none;
}
#flip button,
#flip p,
#flip h1,
#flip a,
#flip span,
#flip select {
  pointer-events: all;
}
#flip #upload {
  border: 2px dashed;
  padding: 60px 10px;
  overflow: hidden;
}
#flip #upload .fa-file {
  font-size: 92px;
}
#flip #message {
  width: 100%;
  margin: 10px 0;
  border: 2px solid;
  padding: 10px 0;
  font-weight: bold;
  display: none;
}
#flip #message.warning {
  border-color: yellow;
  color: yellow;
}
#flip #message.error {
  border-color: darkred;
  color: darkred;
}
#flip #flip-button {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
#flip #flip-button .fa-play {
  margin-left: 5px;
}
#flip #options {
  width: 100%;
  display: none;
  margin-top: 10px;
}
#flip #octave-change {
  outline: none;
  border: none;
  padding: 7px;
  width: 50px;
  margin: 0 5px;
}
#flip #flip-another {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: none;
}
#flip #flip-another:hover {
  text-decoration: underline;
  cursor: pointer;
}
#browse {
  border: 2px solid white;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
}
#browse:not(.disabled):hover {
  background-color: white;
  color: #236dbe;
}
#octave-change {
  width: 100%;
  margin: 10px 0;
}
/* Device specific */
@media screen and (max-width: 768px) {
  .col-xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
}