@using MidiFlip.Models
@model IEnumerable<SearchItem>

@if (Model.Any()) {
    foreach (Category category in Model.OfType<Category>()) {
        @Html.Partial("_CategorySearchCard", category)
    }
    foreach (Midi midi in Model.OfType<Midi>()) {
        @Html.Partial("_MidiSearchCard", midi)
    }
} else {
    <p class="text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No results found...</p>
}