<div id="midi-dropzone">
    <div id="flip" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
        <h1>#MIDIFLIP</h1>
        <p>Web tool for automatically flipping MIDI-files.</p>
        <div id="upload">
            <i class="fa fa-file" aria-hidden="true"></i>
            <h6>Drop a file...</h6>
        </div>
        <button id="browse" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Or browse...</button>
        <button id="flip-button" type="submit">FLIP</button>
    </div>
</div>


<div id="drag-feedback"></div>

@section Scripts {
    <script src="~/Scripts/dropzone.js"></script>
    <script>
        $("#midi-dropzone").dropzone({
            url: "/home/flip",
            clickable: "#browse",
            autoProcessQueue: false,
//            previewTemplate: "",
//            dictDefaultMessage: "",
            init: function() {
                this.on("dragenter", displayDragFeedback);
            },
            success: function(file, response) {
                console.log(file);
                console.log(response);
            }
        });

        var midiDropzone = Dropzone.forElement("#midi-dropzone");

        function displayDragFeedback() {
            $("#drag-feedback").fadeIn("fast");
        }

        $("#flip-button").click(function() {
            midiDropzone.processQueue();
        });
    </script>
}