@section Css {
<link href="~/Content/ripple.css" rel="stylesheet" />
}

<div id="midi-dropzone">
</div>
<div id="flip">
    <a href="https://twitter.com/search?q=%23midiflip&lang=nl" target="_blank"><h1>#MIDIFLIP</h1></a>
    <p>Web tool for automatically flipping MIDI-files.</p>
    <div id="upload">
        <i class="fa fa-file" aria-hidden="true"></i>
        <h6>Drop a file...</h6>
    </div>
    <button id="browse" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Or browse...</button>
    <div id="message" class="warning">Warning</div>
    <div id="options">
        <b>Change octave:</b>
        <select id="octave-change"></select>
    </div>
    <button id="flip-button" type="submit" disabled>FLIP</button>
    <span id="flip-another">Flip another MIDI</span>
</div>

<!-- TODO: Credit Andrew Huang for the idea and Alexander Holm for the piano sounds -->

<div class="ripple"></div>

@section Scripts {
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/midiconvert.js"></script>
    <script src="~/Scripts/tone.min.js"></script>
    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Scripts/midiflip.js"></script>
}