@using (Html.BeginForm("Flip", "Home", FormMethod.Post, new { id = "midi-dropzone" })) {
    <div id="flip" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
        <h1>#MIDIFLIP</h1>
        <p>Web tool for automatically flipping MIDI-files.</p>
        <div id="upload">
            <i class="fa fa-file" aria-hidden="true"></i>
            <h6>Drop a file...</h6>
        </div>
        <button id="browse" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Or browse...</button>
        <button id="flip-button" type="submit">FLIP</button>
    </div>
}

<div id="drag-feedback"></div>

@section Scripts {
    <script src="~/Scripts/dropzone.js"></script>
    <script>
        $("#midi-dropzone").dropzone({
            clickable: "#browse",
            previewTemplate: "",
            dictDefaultMessage: "",
            init: function() {
                this.on("dragenter", displayDragFeedback);
            }
        });

        function displayDragFeedback() {
            $("#drag-feedback").fadeIn("fast");
        }
    </script>
}